.portfolio h3 {
  width: fit-content;
  margin: 0 auto;
}
.portfolio h3::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 4px;
  background-color: black;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio span {
  width: 40px;
  height: 40px;
}
.fa-pos {
  bottom: -48px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #1abc9cc4;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
}
.portfolio .img-card:hover .layer {
  opacity: 1;
}
.img-display {
  inset: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 255, 0.466);
}
